#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.list-item {
  text-align: left;
}

.arrows {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 1rem;
  cursor: pointer;
}

.copia-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 1rem;
  cursor: pointer;
}
